{% extends 'base.html.twig' %}

{% form_theme formBooking 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>Réservation</h1>

<hr>

{{ form_start(formBooking)}}

    {{ form_row(formBooking.email) }}
    {{ form_row(formBooking.visitdate) }}
    {{ form_row(formBooking.bookingnumber) }}
    {{ form_row(formBooking.totalprice) }}

    <h3>Achetez vos billets</h3>
<div class = "jumbotron">
    <ul class="tickets" data-prototype="{{ form_widget(formBooking.tickets.vars.prototype)|e('html_attr') }}">
        {% for ticket in formBooking.tickets %}
            <li>{{ form_row(ticket.name) }}</li>
            <li>{{ form_row(ticket.firstname) }}</li>
            <li>{{ form_row(ticket.birthdate) }}</li>
            <li>{{ form_row(ticket.country) }}</li>
            <li>{{ form_row(ticket.ticketprice) }}</li>
            <li>{{ form_row(ticket.reducedprice) }}</li>
        {% endfor %}
    </ul>
</div>
{{ form_end(formBooking)}}

    <button type="submit" class="btn btn-success">Terminer la commande</button>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">

    var $collectionHolder;
    var $addTagButton = $('<button type="button" class="add_ticket_link">Ajouter un ticket</button>');
    var $newLinkLi = $('<li></li>').append($addTagButton);

jQuery(document).ready(function() {
    $collectionHolder = $('ul.tickets');
    $collectionHolder.append($newLinkLi);
    $collectionHolder.data('index', $collectionHolder.find(':input').length);
    $addTagButton.on('click', function(e) 
    {
        addTicketForm($collectionHolder, $newLinkLi);
    });
});

function addTicketForm($collectionHolder, $newLinkLi) {
    var prototype = $collectionHolder.data('prototype');
    var index = $collectionHolder.data('index');
    var newForm = prototype;   
    newForm = newForm.replace(/__name__/g, index);
    $collectionHolder.data('index', index + 1);
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);    
    addTicketFormDeleteLink($newFormLi);
}

function addTicketFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button">Supprimer ce ticket</button>');
    $tagFormLi.append($removeFormButton);
    $removeFormButton.on('click', function(e) {
        $tagFormLi.remove();
    });
}

{% endblock %}