{% extends 'base.html.twig' %}

{% form_theme formBooking 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Réservation</h1>
        <hr>
{{ form_start(formBooking)}}

    {{ form_row(formBooking.email) }}
    {{ form_row(formBooking.visitdate) }}

    <h3>Achetez vos billets</h3>
    <div class="jumbotron">
        <ul class="tickets" data-prototype="{{ form_widget(formBooking.tickets.vars.prototype)|e('html_attr') }}">
            {% for ticket in formBooking.tickets %}
                {{ form_row(ticket.name) }}
                {{ form_row(ticket.firstname) }}
                {{ form_row(ticket.birthdate) }}
                {{ form_row(ticket.country) }}
                {{ form_row(ticket.ticketprice) }}
                {{ form_row(ticket.reducedprice) }}
{# ici, je ne sais pas comment intégrer le lien pour ajouter un tcket. cf code 10 de la doc symfo. je crois qu'il ne faut rien mettre #}
            {% endfor %}
        </ul>
    </div>

    {{ form_row(formBooking.bookingnumber) }}
    {{ form_row(formBooking.totalprice) }}
    

<button type="submit" class="btn btn-success">Terminer la commande</button>

{{ form_end(formBooking)}}

</div>

    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script type="text/javascript">
            var $collectionHolder;
            var $addTagButton = $('<button type="button" class="add_ticket_link">Ajouter un ticket</button>');
            
            jQuery(document).ready(function() {
                $collectionHolder = $('ul.tickets');
                $collectionHolder.append($addTagButton);
                $collectionHolder.data('index', $collectionHolder.find(':input').length);
                $addTagButton.on('click', function(e)
                {
                    addTicketForm($collectionHolder, $addTagButton);
                });
            });
            function addTicketForm($collectionHolder, $addTagButton) {
                var prototype = $collectionHolder.data('prototype');
                var index = $collectionHolder.data('index');
                var newForm = prototype;
                newForm = newForm.replace(/__name__/g, index);
                $collectionHolder.data('index', index + 1);
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTicketFormDeleteLink($newFormLi);
            }
            function addTicketFormDeleteLink($tagFormLi) {
                var $removeFormButton = $('<button type="button">Supprimer ce ticket</button>');
                $tagFormLi.append($removeFormButton);
                $removeFormButton.on('click', function(e) {
                    $tagFormLi.remove();
                });
            }
        </script>
    {% endblock %}
{% endblock %} 