{% extends 'base.html.twig' %}

{% form_theme formBooking 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{"booking"|trans}}</h1>
        <hr>
{{ form_start(formBooking)}}
    {# ici, il faut juste ajuter une validation comme quoi c'est bien un email #}
    {{ form_row(formBooking.email) }}
    {# ici, il faut bloquer les jours passés, les mardis et les jours feries ou le musée est fermé a prior avec datepicker#}
    {{ form_row(formBooking.visitdate) }}
    {# {{ form_row(formBooking.visitdate, {'attr': {'data-dates-disabled': publicHolidays |json_encode() }}) }} #}
    
    <h3>{{ "Buy"|trans}}</h3>
    <div class="jumbotron">
        <ul class="tickets" data-prototype="{{ form_widget(formBooking.tickets.vars.prototype)|e('html_attr') }}">
            {{ form_row(formBooking.tickets)}}
        </ul>
    </div>
    {# ici, il faut générer une chaine aléatoire comme code de réservation : chiffres et lettres #}
    {{ form_row(formBooking.bookingnumber) }}
    {# ici, on doit avoir le prix total des billets achetés #}
    {{ form_row(formBooking.totalprice) }}
    

<button type="submit" class="btn btn-success">{{"endBooking"|trans}}</button>

{{ form_end(formBooking)}}

</div>

    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/main2.js"></script>
    {% endblock %}
{% endblock %} 