{% extends 'base.html.twig' %}

{% form_theme formBooking 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1>Réservation</h1>

<hr>

{{ form_start(formBooking)}}

    {{ form_row(formBooking.email) }}
    {{ form_row(formBooking.visitdate) }}

    <h3>Achetez vos billets</h3>
    <ul class="tickets" data-prototype="{{ form_row(formBooking.tickets.vars.prototype)|e('html_attr') }}">
        {% for ticket in formBooking.tickets %}
            <li>{{ form_row(ticket.name) }}</li>
            <li>{{ form_row(ticket.firstname) }}</li>
            <li>{{ form_row(ticket.birthdate) }}</li>
            <li>{{ form_row(ticket.country) }}</li>
            <li>{{ form_row(ticket.ticketprice) }}</li>
            <li>{{ form_row(ticket.reducedprice) }}</li>
        var $addTagButton = $('<button type="button" class="add_tag_link">Add a tag</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);
        {% endfor %}
    </ul>

    {{ form_row(formBooking.bookingnumber) }}
    {{ form_row(formBooking.totalprice) }}

    <button type="submit" class="btn btn-success">Terminer la commande</button>

{{ form_end(formBooking)}}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
{# 
var $collectionHolder; #}

jQuery(document).ready(function() {
    $collectionHolder = $('ul.tags');

    $collectionHolder.append($newLinkLi);

    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTicketButton.on('click', function(e) {
        addTicketForm($collectionHolder, $newLinkLi);
    });
});

function addTicketForm($collectionHolder, $newLinkLi) {
    var prototype = $collectionHolder.data('prototype');

    var index = $collectionHolder.data('index');

    var newForm = prototype;
   
    newForm = newForm.replace(/__name__/g, index);

    $collectionHolder.data('index', index + 1);

    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    addTicketFormDeleteLink($newFormLi);
}

function addTicketFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button">Delete this tag</button>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        $tagFormLi.remove();
    });
}

{% endblock %}